body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  padding: 16px;

}

footer {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  height: 80px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: -1px -1px 9px #e8e7e7;
}

@media (max-width: 480px) {
  footer {
    padding: 0;
  }

  footer p {
    padding: 0 4px;
  }

  footer div:first-child {
    padding-left: 4px;
  }
}

footer button {
  height: 100% !important;
  min-height: 56px !important;
}

.chat-body {
  overflow-y: scroll;
  padding-bottom: 10vh;
}

h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px;
  background-color: rgb(241, 243, 253);
  border-radius: 4px;
  margin-bottom: 4px;
}
